/* Default Light Theme */

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}

/* ------------- header ----------- */

header {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    height: 60px;
}

header #nav-wrapper {
    height: 48px;
    min-width: auto;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header #nav {
    display: flex;
    align-items: center;
    padding-right: 4px;
    padding-left: 32px;
    height: 100%;
}

header #nav>div:first-child {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 15px;
    font: 13px/27px Roboto, Arial, sans-serif;
}

header #nav>div:first-child>a {
    padding-left: 15px;
    line-height: 24px;
}

header a {
    color: #1f1f1f;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header #nav>div:nth-child(2) {
    display: flex;
    align-items: center;
    position: relative;
}

#apps {
    padding: 4px 4px 4px 0;
}

#apps svg {
    width: 24px;
    height: 24px;
    fill: #444746;
}

#apps>a {
    padding: 8px;
    width: 40px;
    height: 40px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
}

#apps>a::after {
    content: "Google apps";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 115%;
    width: max-content;
    background-color: #4f5355;
    color: white;

    display: inline-block;
    padding: var(--pseudo-tb-padding, 4px) var(--pseudo-lr-padding, 8px);
    border-radius: 4px;
    letter-spacing: .8px;
    font-weight: 500;
    font-size: 12px;
    font-family: Roboto, arial, sans-serif;

    line-height: var(--pseudo-line-height, 16px);
    min-height: 14px;
    opacity: var(--pseudo-opacity, 0);
    z-index: 1001;
    pointer-events: var(--pseudo-pointer-events, none);
    transition-property: opacity;
    transition-duration: 100ms;
    transition-delay: 400ms;
}


#sign-in {
    padding: 10px 12px;
    margin: 12px 16px 12px 10px;
    background-color: #0b57d0;
    color: white;
    min-width: 85px;
    min-height: 40px;
    text-align: center;
    border-radius: 100px;
    line-height: 18px;
    font-size: 14px;
}

#sign-in:hover {
    text-decoration: none;
    background: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15),
        0 1px 2px 0 rgba(60, 64, 67, .3);
}

/* ------------------- header - google product popup ------------------------------- */

#product-popup {
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 370px;
    height: 470px;
    margin-top: 49px;
    margin-right: 4px;
    max-height: calc(-59px + 100dvh);
    visibility: hidden;
    transition-property: opacity;
    transition-delay: 55ms;
    transition-duration: 0.3s;
    z-index: 1000;
}

#outer-wrapper {
    height: 100%;
    padding: 3px 10px 14px;
    text-size-adjust: 100%;
    margin: 0;
    overflow: hidden;
}

#inner-wrapper {
    background-color: #e9eef6;
    border-radius: 28px;
    border: none;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .3);
    margin: 3px auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px;
    position: relative;
    width: 344px;
    height: 100%;
}

#inner-wrapper::-webkit-scrollbar {
    width: 8px;
}

#inner-wrapper::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(31, 31, 31, .16);
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: none;
    height: 185;
    max-height: 33%;
}

#inner-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    margin-bottom: 34px;
    margin-top: 34px;
}

#inner-wrapper::-webkit-scrollbar-track,
#inner-wrapper::-webkit-scrollbar-track:hover {
    background: none;
    border: none;
}

#inner-most-wrapper1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 1001;
}

#inner-most-wrapper1>div {
    position: absolute;
    top: 0;
    left: -70%;
    width: 70%;
    height: 100%;
    background-color: rgb(102, 136, 238);
    animation: loaderAnimation 0.5s infinite;
}

@keyframes loaderAnimation {
    0% {
        left: -70%;
    }

    100% {
        left: 100%;
    }
}

#inner-most-wrapper2 {
    width: 100%;
}

.half {
    background-color: #f8fafd;
    color: #444746;
    padding: 24px 20px;
    width: 328px;
    box-sizing: border-box;
}

#first-half {
    border-radius: 24px 24px 4px 4px;
    margin-bottom: 4px;
}

#second-half {
    border-radius: 4px 4px 24px 24px;
    margin-bottom: 10px;
}

#first-half>ul {
    padding-top: 0;
}

#second-half>ul {
    padding-bottom: 10px;
}

.half>ul {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    list-style-type: disc;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
}

.half>ul>li {
    box-sizing: content-box;
    display: inline-block;
    height: 84px;
    list-style-type: none;
    padding: 6px;
    margin: 0;
    position: relative;
    vertical-align: top;
    width: 84px;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.333, 0, 0, 1);
}

.half>ul>li>a {
    border-radius: 16px;
    outline: none;
    margin: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 84px;
    height: 84px;
}

.half>ul>li>a:hover {
    background-color: #e9eef6;
    cursor: pointer;
    height: fit-content;
    /* Resize the link container to wrap the text */
}

.half>ul>li>a:hover>span {
    white-space: normal;
    /* Allow text to wrap */
}


.half>ul>li>a>div {
    height: 57px;
    margin-top: 5px;
}

.half>ul>li>a>div>span {
    background-image: url('https://ssl.gstatic.com/gb/images/sprites/p_2x_065643996766.png');
    background-size: 53px 2721px;
    display: inline-block;
    height: 53px;
    vertical-align: top;
    width: 53px;
}

.half>ul>li>a>span {
    color: rgb(32, 33, 36);
    display: inline-block;
    font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76px;
}


#inner-most-wrapper3 {
    text-align: center;
}

#inner-most-wrapper3>a {
    border-radius: 100px;
    border: 1px solid #747775;
    background: none;
    box-sizing: border-box;
    color: #0b57d0;
    display: inline-block;
    font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    min-height: 40px;
    outline: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    line-height: 18px;
    position: relative;
    margin: 16px 0 20px 0;
    max-width: 265px;
    width: auto;
}

#inner-most-wrapper3>a:hover {
    cursor: pointer;
    background-color: #f8fbff;
    border-color: #cce0fc;
}


/*  ---------- main --------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>div:first-child {
    height: 92px;
    width: 272px;
}

main>div:first-child>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
}

#form-wrapper {
    padding: 20px;
    max-height: 160px;
    width: 100%;
}

#form-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-wrapper {
    border: 1px solid #dfe1e5;
    display: flex;
    min-height: 46px;
    margin-top: 6px;
    padding: 0 8px 0 0;
    border-radius: 24px;
    max-width: 582px;
    min-width: 358px;
    flex: 1;
    width: 90%;
    justify-content: space-between;
}

#input-wrapper:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

#input-wrapper>* {
    height: 46px;
    display: flex;
}

#start-div {
    padding: 0 13px 0 16px;
    align-items: center;
}

#middle-div {
    flex-wrap: wrap;
    flex: 1;
    overflow-x: hidden;
    border-bottom: 8px solid transparent;
    padding-top: 11px;
    overflow-x: hidden;
    cursor: text;
}


#middle-div textarea {
    font-family: Arial, sans-serif;
    line-height: 22px;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
    flex-grow: 1;
    height: 100%;
    overflow-x: hidden;
}

#end-div {
    flex-direction: row;
    align-items: stretch;
    flex: 0 0 auto;
    padding-left: 4px;
}

#search-icon {
    width: 20px;
    height: 20px;
}

#search-icon>svg {
    fill: #5f6368;
}

#mic-icon,
#camera-icon {
    height: 100%;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
    position: relative;
}

#mic-icon>svg,
#camera-icon>svg {
    width: 24px;
    height: 24px;
}

/* Outer triangle (white border for outline) */
#mic-icon:hover::before,
#camera-icon:hover::before {
    content: "";
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    z-index: 10000;
}

/* Inner triangle */
#mic-icon:hover::after,
#camera-icon:hover::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.5px);
    left: 50%;
    transform: translateX(-50%) translateY(-11px);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent rgba(48, 49, 48, 0.95) transparent;
    z-index: 10001;
}

/* Tooltip box */
#mic-icon:hover .tooltip,
#camera-icon:hover .tooltip {
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(48, 49, 48, 0.95);
    color: white;
    padding: 8px 11px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px rgba(32, 33, 36, .28);
    white-space: nowrap;
    z-index: 10001;
    pointer-events: none;
    opacity: 1;
    display: block;
}

.tooltip {
    display: none;
}

#button-wrapper {
    box-sizing: content-box;
    padding-top: 12px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#button-wrapper .btn {
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 0 2px;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;

}

#button-wrapper .btn:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

main>div:last-child {
    margin-bottom: 24px;
    color: #4d5156;
    line-height: 28px;
    font-size: small;
}

main>div:last-child a {
    text-decoration: none;
    padding: 0 3px;
}

main>div:last-child a:hover {
    text-decoration: underline;
}

#lang-container>a:link {
    color: #2962ff;
    /* Color for unvisited links */
}

#lang-container>a:visited {
    color: #2962ff;
    /* Same color for visited links */
}

/* @media all and (max-width: 768px) {
    main > div:first-child > img {
        height: 56px;
    }

    #form-wrapper {
        margin-top: 20px;
    }
} */


/* ---------------- footer ---------------- */

#footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

#footer-wrapper>div:first-child {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #1f1f1f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-wrapper>div:last-child {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 46px;
    align-items: center;
}

#footer-wrapper>div:last-child>div {
    display: flex;
}

#footer-wrapper a {
    color: #1f1f1f;
    font-size: 14px;
    padding: 15px;
    line-height: 16px;
    white-space: nowrap;
    text-decoration: none;
}

#footer-wrapper div a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* -------------------- footer - setting popup ------------------ */
#setting-popup {
    display: none;
    z-index: 1000;
    position: absolute;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

#setting-menu {
    background-color: #ffffff;
    padding: 5px 0;
    border-radius: 8px;
}

.menu-item,
.menu-item>div {
    font-size: 14px;
    line-height: 23px;
    color: #1f1f1f;
    white-space: nowrap;
    display: block;
    cursor: pointer;
}

.menu-item a {
    color: #1f1f1f;
    white-space: nowrap;
    text-decoration: none;
    display: block;
    padding: 4px 16px;
}

.menu-item>span {
    padding: 0 16px;
}

#theme-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

#theme-image {
    color: #5e5e5e;
    height: 20px;
    width: 20px;
    margin-top: -2px;
    opacity: 0;
}

#theme-image>span {
    display: inline-block;
    fill: #5e5e5e;
    position: relative;
}

#theme-image>span>svg {
    display: block;
    width: 100%;
    height: 100%;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, .1);
}

#setting-menu>li:last-child:hover #theme-wrapper>#theme-image {
    opacity: 1;
}


.menu-separator {
    border-top: 1px solid #dadce0;
    opacity: 61%;
    margin: 5px 0;
    height: 0;
    list-style: none;
}

/* -------------- footer - feedback form ------------- */
#feedback-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000000;
    pointer-events: auto;
    opacity: 1;
    background-color: rgba(128, 134, 139, 0.5);
    display: flex;
    flex-direction: row-reverse;
}

#feedback-form-container {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 412px;
}

#feedback-form {
    border-radius: 8px 0 0 8px;
    box-shadow: 0 1px 3px 0 rgba(48, 48, 48, 0.302), 0 4px 8px 3px rgba(48, 48, 48, 0.149);
    background: #fff;
    letter-spacing: .00625em;
    font-size: calc(16px*1);
    font-weight: 400;
    line-height: calc(16px*1.5);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


/* feedback form - header */

#feedback-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: calc(16px*.5) calc(16px*1.25) calc(16px*.25) calc(16px*1);
    box-shadow: 0 1px 4px rgba(48, 48, 48, .3);
}

#feedback-form-title>h1 {
    font-size: calc(16px*1.125);
    line-height: calc(16px*1.5);
    color: #1f1f1f;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

#feedback-form-close {
    width: 24px;
    height: 48px;
}

#feedback-form #btn-wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

#feedback-form .btn {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-height: 3rem;
    min-width: 3rem;
    margin: 0;
}


#feedback-form-close button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

#feedback-form-close button:hover {
    cursor: pointer;
    background-color: rgba(128, 134, 139, 0.08);
}

#feedback-form button {
    letter-spacing: .0107142857em;
    font-size: calc(16px*.875);
    font-weight: 500;
    cursor: pointer;
    border: none;
}

#feedback-form-close button div {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    display: inline-block;
}

#feedback-form-close button div>svg {
    fill: #474747;
}

#close-tooltip{
    position: fixed;
    display: none;
    max-height: 7rem;
    top: 60px;
    background-color: #1f1f1f;
    color: #fff;
    opacity: 0.8;
    border-radius: 6px;
    transform: translateX(-25%);
    width: max-content;
}

#close-tooltip > div, #send-tooltip > div{
    letter-spacing: .025em;
    font-size: calc(16px*.75);
    font-weight: 400;
    line-height: 16px;
    margin: 4px 8px;
    max-width: 10rem;
    overflow: hidden;
}

/* feedback form - body */

#feedback-form-body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px;
}


/* feedback form - footer */

#feedback-form-footer{
    display: flex;
    flex-direction: column;
    box-shadow: 0 -1px 4px rgba(48,48,48,.3);
    padding: 20px 20px 16px 20px;
    letter-spacing: .00625em;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#feedback-form-footer #footer-btn-wrapper{
    display: flex;
    justify-content: flex-end;   
}

#feedback-form-footer #footer-btn-wrapper button{
color: rgba(31,31,31,.72);
background-color: rgba(31,31,31,.12);
padding: 0 24px;
border-radius: 4px;
height: 36px;
min-width: 64px;
border: 1px solid transparent;
}

#send-tooltip{
    display: block;
    max-height: 7rem;
    top: 533px;
    right: 0;
    background-color: #1f1f1f;
    color: #fff;
    opacity: .8;
    border-radius: 6px;
    position: fixed;
    width: max-content;
}

#send-tooltip > div{
    white-space: normal;
    max-width: calc(16px*8);
}


/* Dark Theme */

/* ---------------- header ---------------- */
body.dark-theme {
    background-color: #202124;
    color: white;
}

body.dark-theme header a {
    color: white;
}

body.dark-theme #apps svg {
    fill: white;
}

body.dark-theme #apps>a::after {
    background-color: #393d40;
}


body.dark-theme #sign-in {
    background-color: #c2e7ff;
    color: #001d35;
}

body.dark-theme #sign-in:hover {
    background-color: #b3d7ef;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
}

body.dark-theme #inner-wrapper {
    background-color: #282a2c;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .3), 0 -2px 6px 2px rgba(0, 0, 0, .15);
}

body.dark-theme #inner-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(227, 227, 227, .24);
}

body.dark-theme #inner-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(227 227 227 / 16%);
}

body.dark-theme .half {
    background-color: #1b1b1b;
}

body.dark-theme .half>ul>li>a:hover {
    background-color: #282a2c;
}

body.dark-theme .half>ul>li>a>span {
    color: rgb(232, 234, 237);
}

body.dark-theme #inner-most-wrapper3>a {
    border-color: #8e918f;
    color: #a8c7fa;
}

body.dark-theme #inner-most-wrapper3>a:hover {
    background-color: rgb(60, 64, 67);
    border-color: rgb(95, 99, 104);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3), 0 1px 3px 1px rgba(0, 0, 0, .15);
}

/* ---------- main --------------- */

body.dark-theme #input-wrapper {
    background-color: #4d5156;
    border-color: transparent;
}

body.dark-theme #input-wrapper:hover {
    background-color: #5f6368;
    box-shadow: none;
}

body.dark-theme #search-icon>svg {
    fill: #9aa0a6;
}

body.dark-theme #middle-div textarea {
    background-color: #4d5156;
    color: #e8eaed;
}

body.dark-theme #middle-div textarea:hover,
body.dark-theme #input-wrapper:hover #middle-div textarea {
    background-color: #5f6368;
}

body.dark-theme #mic-icon:hover::before,
#camera-icon:hover::before {
    border-color: transparent transparent rgb(90 90 90 / 60%) transparent;
}

body.dark-theme #mic-icon:hover::after,
#camera-icon:hover::after {
    border-color: transparent transparent #202124 transparent;
}

body.dark-theme #mic-icon:hover .tooltip,
#camera-icon:hover .tooltip {
    background-color: #202124;
    color: rgb(232, 232, 232);
    border-color: rgb(90 90 90 / 60%);
}

body.dark-theme #button-wrapper .btn {
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
}

body.dark-theme #button-wrapper .btn:hover {
    box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;
}

body.dark-theme #lang-container>a:link {
    color: #99c3ff;
}

body.dark-theme #lang-container>a:visited {
    color: #c58af9;
}

body.dark-theme main>div:last-child {
    color: #bfbfbf;
}

/* ---------- footer ------------- */

body.dark-theme #footer-wrapper {
    background-color: #171717;
}

body.dark-theme #footer-wrapper>div:first-child {
    border-bottom-color: #313335;
    color: #e8e8e8;
}

body.dark-theme #footer-wrapper a {
    color: #e8e8e8;
}

body.dark-theme #setting-menu {
    background-color: #1f1f1f;
}

body.dark-theme .menu-item,
body.dark-theme .menu-item>div,
body.dark-theme .menu-item a {
    color: #e8e8e8;
}

body.dark-theme .menu-separator {
    border-top-color: #313335;
}

body.dark-theme .menu-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

body.dark-theme #theme-image>span {
    fill: #9e9e9e;
}